body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

.header-wrapper {
    /* border: 2px solid white; */
    position: absolute; 
    z-index: 1;
    display: flex;
    /* justify-content: center; */
    /* margin: 0 auto; */
    position: absolute;
    /* left: 1.5%; */
    top: 1vw;
    /* transform: translateX(-50%); */
    /* box-sizing: border-box; */
    width: 100%;
}

h1 {
 color: rgb(165, 156, 138);
 padding: 14px;
 font: 400 20px Arial;
 text-align: center; 
 display: flex;
 flex: 3;
}

sub {
    /* font-size: 13px; */
}

#header-right {
    /* border: 2px solid red; */
    /* height: 100px; */
    display: flex;
    flex: 0.5;
}

#about-wrapper {
    /* border: 2px solid yellow; */
    /* width: 100%; */
    padding: 10px;
}

#about-btn {
    /* border: 2px solid red; */
    /* width: 100%; */
    border: 1px solid transparent;
    cursor: pointer;
    background-color: rgb(176, 184, 230);
    font-family: Arial;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 18px;
    font-weight: 550;
    opacity: 0.6;
    width: 70px;
    margin-top: 2px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-btn:hover {
    cursor: pointer;
    background-color: rgb(242, 189, 247);
    border: 1px solid rgb(216, 152, 222);
    color: black;
    transition: all 0.4s ease;
}

#about-btn:focus {
    outline: none;
}

.contact-icons {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20px;
}

.contact-icons div {
    margin: 0 8px;
    border-radius: 1rem;
    width: 32px;
    height: 32px;
    position: relative;
    box-sizing: content-box;
}

.github {
    /* border: 2px solid green; */
    background-color: white;
    background-size: 100%;
    background-image: url('../images/github.png');
    background-repeat: no-repeat;
}

.linkedin {
    /* border: 2px solid blue; */
    background-image: url('../images/linkedin.png');
    background-size: 100%;
    background-repeat: no-repeat;
    /* margin-right: 16px; */
}


.footer {
    /* border: 2px solid white; */
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 3;
    width: 100%;
    bottom: 2.5rem;
}

.play-button-wrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.slider-wrapper {
    display: flex;
    flex: 0.6;
}

#slider {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#play-button img {
    /* border: 2px solid green; */
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.play-btn-hide {
    display: none;
}

.pause-btn-hide {
    display: none;
}

.pause-btn-display {
    display: block;
    cursor: pointer;
}


input[type=range] {
    background-color: #88aed7;
    transition: opacity 2s;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1em;
    height: .5em;
    cursor: pointer;
    width: 80%;
    left: 35%;
    bottom: 4.5em;
    /* -webkit-appearance:none; */
    -moz-appearance:none;
    border-radius: 8px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px; 
  background:#ab8c36;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]:focus { 
  outline: none; 
}

input[type=range]:active { 
  outline: none;  
}

input[type=range]::active { 
  border: none; 
  outline: none;
}

.reset-btn-wrapper {
    /* border: 2px solid red; */
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

#reset-btn {
    cursor: pointer;
}

#heatmap-bar {
    position: absolute;
    right: 2.5em;
    /* left: 2.5em; */
    z-index: 0.5;
    line-height: 1.5em;
    bottom: 5.5em;
    width: 50px;
    /* display: table-cell; */
    background: #777;
    background: linear-gradient(90deg,#555,#999,#555);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.units-header {
    line-height: 18px; padding: 3px
}

#l.pq {
    cursor: pointer;
}




/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f7f5f0;
  opacity: 0.8;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  font-size: 16px;
  font-family: Arial;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}