/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styling below */

body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

h1 {
 /* position: fixed;  */
 z-index: 10;
 color: white;
 font-weight: 800;
 vertical-align: middle;
 /* text-align: center; */
 display: flex;
 justify-content: center;
}

/* .slider-footer {

} */
.slider-footer {
	position: absolute;
    /* position: fixed; */
    color: red;
    /* left: 100px; */
    margin-top: 90%;
	position: absolute;
	
   /* position:fixed; */
	/* left: 0;
	right: 0; */
	/* color: red;
	height: 200px;
    /* bottom: 0; */
    /* z-index: 3;
	font-size: 100%;
	background-color: white; */ */
    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABOCAYAAADhG3wwAAAARUlEQVQYV2P4//8/AxMDCHBpOjKCWGCCCc5C4zLh4qJJMOOSZcbFRZX4D+IyYpNFYxGhBJtivJYTcD1+n2Pj4gxYSNgDAAdtBaOwcYKYAAAAAElFTkSuQmCC) 0 100% repeat-x; */
    /* background-size: contain; */
    /* background: linear-gradient(rgba(10,41,65,0),rgba(10,41,65,.6)); */
}


input[type=range] {
	/* margin-top: 95%; */
	position: fixed;
	z-index: 1;
    transition: opacity 2s;
    box-sizing: border-box;
    font-size: 1em;
    line-height: .5em;
    height: .5em;
    background-color: white;
    cursor: pointer;
    /* -webkit-appearance: none; */
    width: 30%;
    /* margin: auto; */
    left: 35%;
    /* max-width: 80%; */
    border-radius: 100px;
    bottom: 4.5em;
}

#heatmap-bar {
    position: absolute;
    right: 2.5em;
    z-index: 6;
    line-height: 1.5em;
    bottom: 7.5em;
    width: 50px;
    /* display: table-cell; */
    background: #777;
    background: linear-gradient(90deg,#555,#999,#555);
    display: flex;
    flex-direction: column;
    text-align: center;
}

#l.pq {
    cursor: pointer;
}