body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

h1 {
 position: fixed; 
 z-index: 10;
 color: grey;
 /* font-weight: 800; */
 vertical-align: middle;
 /* text-align: center; */
 display: flex;
 justify-content: center;
 padding: 25px;
 font-family: "Nunito",sans-serif;
 font-size: 25px;
}

.footer {
    /* border: 2px solid white; */
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 3;
    width: 100%;
    bottom: 2.5rem;
}

.play-button-wrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.slider-wrapper {
    display: flex;
    flex: 0.6;
}

#slider {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* opacity: 0; */
    /* fill: black; */
    /* background-color: red; */
    /* stroke: none;  */
    /* position: fixed; */
    /* color: red; */
    /* left: 100px; */
    /* margin-top: 90%; */
	/* position: absolute; */
	
   /* position:fixed; */
	/* left: 0;
	right: 0; */
	/* color: red;
	height: 200px;
    /* bottom: 0; */
    /* z-index: 3;
	font-size: 100%;
	background-color: white; */ */
    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABOCAYAAADhG3wwAAAARUlEQVQYV2P4//8/AxMDCHBpOjKCWGCCCc5C4zLh4qJJMOOSZcbFRZX4D+IyYpNFYxGhBJtivJYTcD1+n2Pj4gxYSNgDAAdtBaOwcYKYAAAAAElFTkSuQmCC) 0 100% repeat-x; */
    /* background-size: contain; */
    /* background: linear-gradient(rgba(10,41,65,0),rgba(10,41,65,.6)); */
}

#play-button img {
    /* border: 2px solid green; */
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.play-btn-hide {
    display: none;
}

.pause-btn-hide {
    display: none;
}

.pause-btn-display {
    display: block;
    cursor: pointer;
}

input[type=range] {
    /* position: fixed; */
	/* z-index: 1; */
    transition: opacity 2s;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1em;
    height: .5em;
    cursor: pointer;
    width: 30%;
    left: 35%;
    bottom: 4.5em;
    /* -webkit-appearance:none; */
    -moz-appearance:none;
    width: 80%;
}

input[type=range]:focus { 
  outline: none; 
}

input[type=range]:active { 
  outline: none;  
}

input[type=range]::active { 
  border: none; 
  outline: none;
}

.reset-btn-wrapper {
    /* border: 2px solid red; */
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

#reset-btn {
    cursor: pointer;
}

#heatmap-bar {
    position: absolute;
    right: 2.5em;
    z-index: 6;
    line-height: 1.5em;
    bottom: 7.5em;
    width: 60px;
    /* display: table-cell; */
    background: #777;
    background: linear-gradient(90deg,#555,#999,#555);
    display: flex;
    flex-direction: column;
    text-align: center;
}

#l.pq {
    cursor: pointer;
}